---
layout: default
permalink: "/staff/"
---
<h1 class="page-heading">About</h1>

<p>Our staff includes 2 hired co-managers, and 33 volunteers (Subcommittee Members) that handle a two-hour shift each week. We hire the Subcommittee in September, and a new Co-Manager each November and March. Check back for when applications come out!</p>

<h1>Co-Managers</h1>
<ul class="staff-list">
  {% for staff in site.data.staff.comanagers %}
    {% include staff.html %}
  {% endfor %}
</ul>

<h1>Subcommittee</h1>
<ul class="staff-list">
  {% for staff in site.data.staff.subcommittee %}
    {% include staff.html %}
  {% endfor %}
</ul>


