<header style=" background-color: #771186">
  <script>
    
      
    $(window).scroll(function() {
      $('#site-nav').toggleClass('navbar-fixed-top', $(window).scrollTop() >= $("img").height() === true);
    });

    $(document).ready(function() {
        $("img").load(function() {
        });
    });
   </script>
    
  <img id="img" src="/img/header.png" alt="logo" style="display: block; margin-left: auto; margin-right: auto;">
    
  <nav id="site-nav" class="navbar navbar-default" role="navigation">
    
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{site.title}}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.url contains link.url %}
              {% assign current = 'current' %}
            {% endif %}
            <li><a class="page-link {{ current }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>